  .sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0px;
  }

  .theme-default-content:not(.custom){
    max-width: 780px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    p {
      
    }
  }

  .page-edit{
    max-width: 780px !important;
    margin: 0 auto !important;
    padding: 2rem 2.5rem !important;
  }

  .page-nav{
    max-width: 780px !important;
    margin: 0 auto !important;
    padding: 2rem 2.5rem !important;
  }

  .page-title{
    display: none;
  }

  .gt-container{
    max-width: 780px;
    margin: 0 auto;
  }

  .gt-header-textarea {
    height: 88px;
  }


  .table11_3 table {
      width:100%;
      margin:15px 0;
      border:3px;
  }

  .table11_3 th {
      background-color:#46D77B;
      color:#706D75
  }

  .table11_3,.table11_3 th,.table11_3 td {
      font-size:1em;
      text-align:center;
      padding:14px;
      border-collapse:collapse;
  }
    
  .table11_3 th {
      border: 1px solid #fe2047;
      border-width:1px 0 1px 0;
        border:1px inset #ffffff;
  }
    
  .table11_3 td {
      text-align:left;
      border: 1px solid #fe2047;
      border-width:1px 0 1px 0;
      border:1px inset #ffffff;
  }
  
  .table11_3 tr {
      border: 1px solid #ffffff;
  }
  
  .table11_3 tr:nth-child(odd){
      background-color:#F3F5F5;
  }
    
  .table11_3 tr:nth-child(even){
      background-color:#ffffff;
  }